/*
@font-face
{
    font-family: 'vendi-font-icons';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/icomoon.eot?q8sd57');
    src: url('../fonts/icomoon.eot?#iefixq8sd57') format('embedded-opentype'),
         url('../fonts/icomoon.ttf?q8sd57') format('truetype'),
         url('../fonts/icomoon.woff?q8sd57') format('woff'),
         url('../fonts/icomoon.svg?q8sd57#icomoon') format('svg');
}
*/
