.header-wrapper{
	padding: 0 5%;
	position: relative;
}

.logo{
	position: absolute;
	top: 0;
	right: 5%;
	height: 150px;
}

.header-region h1{
	font-family: "Open Sans", sans-serif;
	font-size: 22px;
	margin: 0;
	font-weight: 100;
}

.header-region h2{
	font-weight: bold;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 72px;
	line-height: 54px;
	margin: 5px 0 15px 0;
}

.lower-ribbon {
	background-color: #0d4c94;
}
.lower-ribbon p{
	color: white;
	font-size: 17px;
	padding: 10px 0;
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

.pdf-footer {
    background-color: #0d4c94;
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
    margin: 0px 0 10px 0;
}
/* end drop down menu styles */

/* Tablets - General */

@media and (min-width: 768px) and (max-width: 1024px) {
}

/* Smartphones - General */

@media (max-width: 767px) {
}
