body {
    min-height: 100vh;
}

#main-content {
	background-color: #fff;
}

.main-content-region {
	min-height: calc(100vh - 211px);
	padding: 30px 0;
    max-width: 1024px;
    margin: auto;
}

/* Tablets - General */

@media and (min-width: 768px) and (max-width: 1024px) {
}

/* Smartphones - General */

@media (max-width: 767px) {
}
